body {
  background-color: #292929;
  color: #EEE;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  color: #3FB0AC;
}

em {
  display: inline-block;
  color: #00B3B3;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition-duration: 1s;
}

em:hover {
  transform: rotateX(180deg);
}

a {
  color: #3FB0AC;
  text-decoration: none;

  transition-duration: 0.3s;
}

a:hover {
  color: pink;
}